.clearfix:after {
    content: "";
    display: table;
    clear: both;  
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata";
}

h1{
    font-family: "Bilbo Swash Caps";
}

a {
    text-decoration: none;
}

/****************
    HEADER
*****************/
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0px 12px -4px black;
}

.header {
    height: 600px;
    background: url('images/header-3.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
}

.header nav {
    background-color: rgba(0,0,0,0.4);
}

.header nav a {
    display: inline-block;
    color: white;
    padding: 16px;
    margin: 0
}

.header nav a:hover {
    background-color: rgba(0,0,0,0.7);
}

.active {
    background-color: rgba(0,0,0,0.7);
}

.header-details {
    margin: 12% 0 0 0;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
}

.header-details h1 {
    font-size: 7em;
    margin: 0;   
    color: #ecf0f1;
}

.header-details button {
    margin: 0 auto;
    display: block;
    border: 2px solid #ecf0f1;
    color: #ecf0f1;
    background: none;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.15em;
}
.header-details button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

/*********************
    Delicious
    and Affordable bruhh!!

******************/

#what img {
    max-width: 100%;
}

#what div {
    padding: 2em;
    width: 43.20%;
    display: inline-block;
}