
.logo {
    font-family: 'Bilbo Swash Caps';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata';
    color: #fff;
}

#header {
    height: 100vh;
    background: url('images/header-0.jpg');
    background-size: cover;
}

#header .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px

}

#header .nav a {
    color: #fff;
    font-size: 1.3em;
    margin: 12px;
    text-decoration: none;
    
}

#header .nav .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#header .nav .links a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

#header .headline {
    margin-top: 5%;  
    padding: 7em 0;
    text-align: center;
    /* background-color: rgba(144,202,249,0.2); */
}

#header .headline h1 {
    font-size: 8em;
    margin: 0;

}

#header .headline button {
    background: none;
    border: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 0.9em;
}

#header .headline button:hover {
    background: rgba(255,255,255, 0.5);
    color: #000;
    cursor: pointer;
}

#offers {
    max-width: 1400px;
    margin: 2em auto;
}

#offers .offer-item {
    display: flex;
    flex-direction: row;
}


#offers .offer-item .item-image img {
    width: 100%;
}


#offers .offer-item .item-image {
    width: 40%;
}

#offers .offer-item .item-details {
    width: 60%;
    padding: 1em;
}

#offers .offer-item:nth-child(2) .item-details {
    text-align: right;
}

#offers .offer-item:nth-child(2) {
    flex-direction: row-reverse;
}


#offers .offer-item .item-details h2 {
    font-size: 3em;
}

#offers .offer-item .item-details p {
    font-size: 1.25em;
}

#footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding-bottom: 1em;
    font-size: 1.3em;
}


#footer div a {
    color: black;
    margin-right: 5px;
    text-decoration: none;
}

#footer div a:hover{
    color: rgba(0,0,0,0.5);
}